// Index page styles bgn

.page-main {
  .container {
    &:first-child {
      padding-top: 38px;
    }
    &:last-child {
      padding-bottom: 38px;
    }
  }
}

.container {
  padding-left: 38px;
  padding-right: 38px;
  max-width: 911px;
  margin-left: auto;
  margin-right: auto;
}

// Index pag= styles end
