---
title: Responsive PSD Template
bodyClass: template-main
---
extends layouts/_main-layout

block content
  h1 HELLO WORLD
  p Laboris dolor anim ea ipsum. Officia quis enim elit et amet Lorem irure eiusmod sunt ipsum. Dolore irure excepteur in ex.
