---
title: Responsive PSD Template
bodyClass: template-main
---
extends layouts/_main-layout

block content
  //Prodoct section bgn
  section.product
    .container
      //Prodoct-card bgn
      .product-card
        h1.product-card__heading For gamers by gamers TEE
        .product-card__body
          .product-card__image
            +spacer
            img(srcset="img/products/product-main.jpg, img/products/product-main@2x.jpg 2x" src="img/products/product-main.jpg" alt="For gamers by gamers TEE product image." loading="lazy" width="398" height="420")
          .product-card__content
            .product-card__code
              +spacer
              span Item #: 701642853695
            .product-card__price
              .product-card__price_old
                +spacer
                span $29.50
              .product-card__price_discount
                +spacer
                span $19.99
            .product-card__rating-social-wrapper
              .product-card__rating
                //Stars rating widget bgn
                .stars-rating-widget
                  ul.stars-rating-widget__stars-list
                    li.stars-rating-widget__stars-item
                      +spacer
                      span.stars-rating-widget__star.stars-rating-widget__star_active
                    li.stars-rating-widget__stars-item
                      +spacer
                      span.stars-rating-widget__star.stars-rating-widget__star_active
                    li.stars-rating-widget__stars-item
                      +spacer
                      span.stars-rating-widget__star.stars-rating-widget__star_active
                    li.stars-rating-widget__stars-item
                      +spacer
                      span.stars-rating-widget__star.stars-rating-widget__star_active
                    li.stars-rating-widget__stars-item
                      +spacer
                      span.stars-rating-widget__star.stars-rating-widget__star_inactive
                //Stars rating widget end
              .product-card__social
                //Social share widget bgn
                .social-share-widget
                  +spacer
                  button.social-share-widget__open-button(type="button") Share it!
                  .social-share-widget__block
                    ul.social-share-widget__list
                      li.social-share-widget__item
                        +spacer
                        a.social-share-widget__link(href="#" aria-label="Share to Facebook.")
                          +spacer
                          img(src="img/icons/icon-facebook.svg" alt="Facebook icon")
                          +spacer
                      li.social-share-widget__item
                        +spacer
                        a.social-share-widget__link(href="#" aria-label="Share to Twitter")
                          +spacer
                          img(src="img/icons/icon-twitter.svg" alt="Twitter icon")
                          +spacer
                      li.social-share-widget__item
                        +spacer
                        a.social-share-widget__link(href="#" aria-label="Share to Pinterest")
                          +spacer
                          img(src="img/icons/icon-pinterest.svg" alt="Pinterest icon")
                          +spacer
                      li.social-share-widget__item
                        +spacer
                        a.social-share-widget__link(href="#" aria-label="Share to Youtube.")
                          +spacer
                          img(src="img/icons/icon-youtube.svg" alt="Youtube icon")
                          +spacer
                    +spacer
                    button.social-share-widget__close-button(type="button" aria-label="Close social-share widget.")
                      +spacer
                      img(src="img/icons/icon-close.svg" alt="Close icon.")
                      +spacer
                //Social share widget end
            .product-card__describe-text
              h3.product-card__describe-heading DETAILS:
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .product-card__form-wrapper
              //Add-to-cart form bgn
              form.add-to-cart-form(action="#" method="POST")
                .add-to-cart-form__fieldsgroup
                  h3.add-to-cart-form__heading
                    span.add-to-cart-form__heading_mobile-part SELECT A
                      +space
                    | SIzE:
                  .add-to-cart-form__inputs-wrapper
                    +spacer
                    input.add-to-cart-form__size-input.visuallyhidden#sizeXS(type="radio" name="size" value="XS" checked)
                    +spacer
                    label.add-to-cart-form__size-label(for="sizeXS") XS
                    +spacer
                    input.add-to-cart-form__size-input.visuallyhidden#sizeS(type="radio" name="size" value="S")
                    +spacer
                    label.add-to-cart-form__size-label(for="sizeS") S
                    +spacer
                    input.add-to-cart-form__size-input.visuallyhidden#sizeM(type="radio" name="size" value="M")
                    +spacer
                    label.add-to-cart-form__size-label(for="sizeM") M
                .add-to-cart-form__fieldsgroup
                  h3.add-to-cart-form__heading
                    span.add-to-cart-form__heading_mobile-part SELECT a
                      +space
                    | color:
                  .add-to-cart-form__inputs-wrapper
                    +spacer
                    input.add-to-cart-form__color-input.visuallyhidden#colorBlue(type="radio" name="color" value="blue" checked)
                    +spacer
                    label.add-to-cart-form__color-label.add-to-cart-form__color-label_blue(for="colorBlue") blue
                    +spacer
                    input.add-to-cart-form__color-input.visuallyhidden#colorGreen(type="radio" name="color" value="green")
                    +spacer
                    label.add-to-cart-form__color-label.add-to-cart-form__color-label_green(for="colorGreen") green
                    +spacer
                    input.add-to-cart-form__color-input.visuallyhidden#colorRed(type="radio" name="color" value="red")
                    +spacer
                    label.add-to-cart-form__color-label.add-to-cart-form__color-label_red(for="colorRed") red
                    +spacer
                    input.add-to-cart-form__color-input.visuallyhidden#colorPurple(type="radio" name="color" value="purple")
                    +spacer
                    label.add-to-cart-form__color-label.add-to-cart-form__color-label_purple(for="colorPurple") purple
                .add-to-cart-form__submit-wrapper
                  +spacer
                  button.add-to-cart-form__submit.btn(type="submit") add to cart
              //Add-to-cart form end
      //Prodoct-card end
  //Prodoct section end
  //Related product section bgn
  section.related-products
    .container
      h2.related-products__heading YOU MAY ALSO LIKE
      //Swiper slider (on mobile only) bgn
      .swiper-container
        ul.swiper-wrapper.related-products__list
          li.swiper-slide.related-products__item
            //Related product card bgn
            .related-product-card
              +spacer
              a.related-product-card__link(href="#" aria-label="For gamers by gamers TEE.")
              .related-product-card__image-price-container
                .related-product-card__image
                  +spacer
                  img(srcset="img/products/product-ralated-01.jpg, img/products/product-ralated-01@2x.jpg 2x" src="img/products/product-ralated-01.jpg" alt="For gamers by gamers TEE product image." loading="lazy" width="300" height="284")
                .related-product-card__price
                  +spacer
                  span.related-product-card__price_old $29.99
                  +spacer
                  span.related-product-card__price_discount $19.99
              h3.related-product-card__heading For gamers by gamers TEE
            //Related product card end
          li.swiper-slide.related-products__item
            //Related product card bgn
            .related-product-card
              +spacer
              a.related-product-card__link(href="#" aria-label="Link to related product 1")
              .related-product-card__image-price-container
                .related-product-card__image
                  +spacer
                  img(srcset="img/products/product-ralated-02.jpg, img/products/product-ralated-02@2x.jpg 2x" src="img/products/product-ralated-02.jpg" alt="For gamers by gamers TEE product image." loading="lazy" width="300" height="284")
                .related-product-card__price
                  +spacer
                  span $22.00
              h3.related-product-card__heading PRO gamer SLASH HOODIE
            //Related product card end
          li.swiper-slide.related-products__item
            //Related product card bgn
            .related-product-card
              +spacer
              a.related-product-card__link(href="#" aria-label="Link to related product 1")
              .related-product-card__image-price-container
                .related-product-card__image
                  +spacer
                  img(srcset="img/products/product-ralated-03.jpg, img/products/product-ralated-03@2x.jpg 2x" src="img/products/product-ralated-03.jpg" alt="For gamers by gamers TEE product image." loading="lazy" width="300" height="284")
                .related-product-card__price
                  +spacer
                  span $24.99
              h3.related-product-card__heading spectroom GAMER TEE
            //Related product card end
          li.swiper-slide.related-products__item
            //Related product card bgn
            .related-product-card
              +spacer
              a.related-product-card__link(href="#" aria-label="Link to related product 1")
              .related-product-card__image-price-container
                .related-product-card__image
                  +spacer
                  img(srcset="img/products/product-ralated-04.jpg, img/products/product-ralated-04@2x.jpg 2x" src="img/products/product-ralated-04.jpg" alt="For gamers by gamers TEE product image." loading="lazy" width="300" height="284")
                .related-product-card__price
                  +spacer
                  span.related-product-card__price_old $29.99
                  +spacer
                  span.related-product-card__price_discount $19.99
              h3.related-product-card__heading GAMING FOR GOOD TEE
            //Related product card end
          li.swiper-slide.related-products__item
            //Related product card bgn
            .related-product-card
              +spacer
              a.related-product-card__link(href="#" aria-label="Link to related product 1")
              .related-product-card__image-price-container
                .related-product-card__image
                  +spacer
                  img(srcset="img/products/product-ralated-05.jpg, img/products/product-ralated-05@2x.jpg 2x" src="img/products/product-ralated-05.jpg" alt="For gamers by gamers TEE product image." loading="lazy" width="300" height="284")
                .related-product-card__price
                  +spacer
                  span $60.00
              h3.related-product-card__heading spectroom web hoodie
            //Related product card end
          li.swiper-slide.related-products__item
            //Related product card bgn
            .related-product-card
              +spacer
              a.related-product-card__link(href="#" aria-label="Link to related product 1")
              .related-product-card__image-price-container
                .related-product-card__image
                  +spacer
                  img(srcset="img/products/product-ralated-06.jpg, img/products/product-ralated-06@2x.jpg 2x" src="img/products/product-ralated-06.jpg" alt="For gamers by gamers TEE product image." loading="lazy" width="300" height="284")
                .related-product-card__price
                  +spacer
                  span $54.00
              h3.related-product-card__heading spectroom varsity hoodie
            //Related product card end
        //Swipers controls buttons bgn
        +spacer
        button.swiper-button-prev
          +spacer
          img(srcset="img/icons/icon-slider-arrow.png, img/icons/icon-slider-arrow@2x.png 2x" src="img/icons/icon-slider-arrow.png" alt="Prev slider controll arrow." loading="lazy" width="29" height="50")
          +spacer
        +spacer
        button.swiper-button-next
          +spacer
          img(srcset="img/icons/icon-slider-arrow.png, img/icons/icon-slider-arrow@2x.png 2x" src="img/icons/icon-slider-arrow.png" alt="Next slider controll arrow." loading="lazy" width="29" height="50")
          +spacer
        //Swipers controls buttons end
      //Swiper slider (on mobile only) end
  //Related product section end

block others
  //Modal bgn
  include parts/_modal
  //Modal end
