// Social share widget styles bgn

.social-share-widget {
  @include media('>tabletReg') {
    position: relative;
  }
}

.social-share-widget__open-button {
  display: none;
  @include media('>tabletReg') {
    @include resetbutton();
    display: block;
    color: $color-curious-blue;
    font-size: rem(18);
    font-weight: 700;
    line-height: 0.89;
    letter-spacing: rem(0.45);
  }
}

.social-share-widget__block {
  @include media('>tabletReg') {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    padding: 22px 18px 18px;
    background-color: $color-white;
    filter: drop-shadow($shadow-sharp);
    opacity: 0;
    pointer-events: none;
    @include transition(opacity);
    &_opened {
      opacity: 1;
      pointer-events: all;
    }
    &::before {
      content: '';
      position: absolute;
      top: -7px;
      left: 50%;
      width: 15px;
      height: 7px;
      transform: translate(-50%);
      triangle: pointing-up;
      background-color: $color-white;
    }
  }
}

.social-share-widget__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include media('>=tabletSmall', '<=tabletReg') {
    flex-direction: column;
  }
  @include media('>tabletReg') {
    margin-right: 18px;
  }
}

.social-share-widget__item + .social-share-widget__item {
  margin-left: 16px;
  @include media('>=tabletSmall', '<=tabletReg') {
    margin-top: 10px;
    margin-left: 0;
  }
  @include media('>tabletReg') {
    margin-left: 12px;
  }
}

.social-share-widget__link {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  will-change: transform;
  @include transition(all);
  &:hover,
  &:focus {
    box-shadow: $shadow-main;
    transform: translateY(-3px);
    @include media('>=tabletSmall', '<=tabletReg') {
      transform: translateY(0px) translateX(3px);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.social-share-widget__close-button {
  display: none;
  @include media('>tabletReg') {
    @include resetbutton();
    display: block;
    width: 28px;
    height: 28px;
    will-change: transform;
    @include transition(transform);
    &:hover {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// Social share widget styles end
