// Stars rating widget styles bgn

.stars-rating-widget__stars-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stars-rating-widget__stars-item + .stars-rating-widget__stars-item {
  margin-left: 3px;
}

.stars-rating-widget__star {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  &_active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 18'%3E%3Cdefs/%3E%3Cpath fill='%23ce2c52' d='M8.87 13.37l-5.39 3.95 2.21-6.25L.56 7.02H6.9L8.65.73l2.17 6.3h6.35l-5.13 4.04 2.3 6.21z'/%3E%3C/svg%3E");
  }
  &_inactive {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 18'%3E%3Cdefs/%3E%3Cpath fill='%23ababab' d='M8.87 13.37l-5.39 3.95 2.21-6.25L.56 7.02H6.9L8.65.73l2.17 6.3h6.35l-5.13 4.04 2.3 6.21z'/%3E%3C/svg%3E");
  }
}

// Stars rating widget stylee end
